<% include partials/header %>
<div class="opaque-bg">
    <h1 class="beginning">The Neverending Story</h1>
    <a class="enter" href="/read?parentid=start&choiceP="">Enter Neverland</a>
</div>
    
<% include partials/footer %>