<% include partials/header %>
<div class="opaque-bg">
    <div class="login-container">
        <h1 class="login-main">Login</h1>
        <form action="/login" method="POST" id="loginform">
            <input class="login-form" type="text" name="username" placeholder="username" id="loginid"><div id="logindiv"></div>
            <input class="login-form" type="password" name="password" placeholder="password" id="loginpw"><div id="pwdiv"></div>
            <button class="login-main-button" type="submit" value="Login">Login</button>
        </form>
        <p class="login-regis">Don't have an account?  <a class= "regis-link" href="/register">Register</a></p>
    </div>
</div>
<% include partials/footer %>