<% include partials/header %>
<link rel="stylesheet" type="text/css" href="theme.css">
<div class="opaqueBg">
<div class="loginContainer">
<h1 class = "loginMain">Register</h1>
<form action="/register" method="POST">
    <input class = "loginForm" type="text" name="username" placeholder="username"><div id="logindiv"></div>
    <input class = "loginForm"type="password" name="password" placeholder="password"><div id="pwdiv"></div>
    <button class="loginMainButton">Register</button>
</form>
<p class="loginRegis">Have an account? <a class= "registerlink" href="/login">Login</a></p>
</div></div>
