<% include partials/header %>
<div class="opaque-bg">
    <div class="regis-container">
        <h1 class="regis-main">Register</h1>
        <form action="/register" method="POST">
            <input class="regis-form" type="text" name="username" placeholder="username"><div id="logindiv"></div>
            <input class="regis-form" type="password" name="password" placeholder="password"><div id="pwdiv"></div>
            <button class="regis-main-button">Register</button>
        </form>
        <p class="login-regis">Have an account? <a class= "login-link" href="/login">Login</a></p>
    </div>
</div>
<% include partials/footer %>