CHARSET "UTF-8";

/*tags*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background: url("https://s-media-cache-ak0.pinimg.com/originals/40/2f/27/402f27c4c9512ba1d872a4b59d7368c5.jpg");
 /*Check out http://free-backgrounds.deviantart.com/gallery/24883269/Fantasy-and-Space-BGs*/
/* http://www.australiansquashtour.org/resources/assets/upload/2017/3/anime-scenery-rain-wallpapers-desktop-rian-tumblr-spring-dark-hd.jpg */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    text-align: center;
    font-family: "Lato", sans-serif;
    margin:0;
}

button {
    word-wrap: break-word;
    outline: none;
}


a{
    color: inherit;
    text-decoration: none;
}

/*placeholders*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Poiret One', cursive;
    color: blue;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Poiret One', cursive;
    color: blue;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Poiret One', cursive;
    color: blue;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: 'Poiret One', cursive;
    color: blue;
}

/*header START*/
/*navigation bar START*/
nav {
    font-family: 'Poiret One', cursive;
    padding :0 2%;
    background-color: rgb(0,0,0); /* fallback */
    background-color: rgba(0,0,0,0.65);
    font-size: 200%;
}

nav th{
    color: rgb(236,254,254);
}

.table-container{
    margin: 0 0 30px 0;
    width:100%;
}

th.op1, th.op2, th.op3, th.op4{
    width:25%;
    font-size: 75%;
}

th.op1{
    text-align: left; 
}

th.op2{
    text-align: center;
} 

th.op3{
    text-align: center;
}

th.op4{
    text-align:right;
}

.nav-link{
    color: inherit;
    font-weight:inherit;
}

a.nav-link,button.nav-link {
    border-radius: 10px; 
    padding: 0px 6px;
    display: inline-block;
}
a.nav-link:hover, button.nav-link:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(179,192,232);
    background-color: rgba(179,192,232,.65);
    border-radius: 10px; 
    padding: 0px 6px;
    display: inline-block;
}

.save-button{
    font-family: 'Poiret One', cursive;
    font-weight:inherit;
    padding: 0;
    font-size:inherit;
    border: none;
    background-color: inherit;
}

/*navigation bar END*/
/*modal window START*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-y: hidden;
    background-color: #000;
    background-color: rgba(0,0,0,0.5);

}
.modal-box{
    display: none;
    box-sizing: border-box;
    background-color: rgb(181,169,231);
    background-color: rgba(181,169,231,0.5);
    /*background-color: rgb(252,239,236);*/
    /*background-color: rgb(253,125,149);*/
    border-radius: 20px;
    max-height: 500px;
    margin: 10% auto;
    padding: 1em 0;
    border: 7px solid rgba(69,37,121,0.6);
    width: 50%;
}

.modal-table{
    width:100%;
    max-height: inherit;
    border-collapse: collapse;
}

.modal-thead{
    max-height: 125;
}
.modal-header{
    background-color : transparent;
    font-family: 'Poiret One', cursive;
    
    color: rgb(179,192,232);
    /*color: rgb(69,37,121);*/
    font-size: 400%;
    width:50%;
    height: 125px;
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.modal-footer{
    height: 125px;
}
.modal-data{
    padding: 0;
}

.form-container{
    margin: 15px 0;
}
.modal-form{
    margin: 20px 0;
    width: 80%;
    font-size: 150%;
}

.login-modal-button:hover, .regis-modal-button:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(179,192,232);
    border-radius: 10px; 
    padding: 15px 40px;
    display: inline-block;
}

.login-modal-button, .regis-modal-button{
    font-family: 'Poiret One', cursive;
    font-size: 200%;
    padding: 15px 40px;
    background-color:rgba(179,192,232,.65);
    border-radius: 10px;
    border: none;
    color: white;
}

.border-right{
    border-right: 2px solid rgb(69,37,121)
}

/*modal window END*/
/*header END*/

/*landing page START*/
.opaque-bg{
    position: relative;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);  
    padding: 0 0 20px 0;
}

.beginning{
    font-family: 'Poiret One', cursive;
    font-size: 600%;
    color: rgb(179,192,232);
    margin: 70px 0 20px;
     text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.enter {
    color: rgb(253,125,149);
    padding: 15px 40px;
    border-radius: 10px;
    width : 10em;
    text-align: center;
    font-weight: 900;
    font-size: 170%;
    background-color: transparent;
    border-width: 1px;    
    font-family: 'Poiret One', cursive;
     text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.enter:hover{
        transition: background-color 0.3s ease;
    background-color: rgb(253,125,149);
    background-color: rgba(253, 125, 149, 0.7);
    color: white;
}

/*landing page END*/
/*login/register page START*/

.login-container, .regis-container{
    color: rgb(236,254,254);
    font-family: 'Poiret One', cursive;
}

.login-main, .regis-main{
    font-size: 600%;
    margin: 70px 0 20px ;
}

.login-form, .regis-form{
    font-size:160%;
    margin: 9px;
}

.login-main-button, .regis-main-button{
    margin: 20px 0 ;
    font-size: 200%;
    padding: 15px 40px;
    background-color: transparent;
    border-radius: 10px;
    border: none;
    color: rgb(253,125,149);
    font-family: 'Poiret One', cursive;
     text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.login-main-button:hover, .regis-main-button:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(179,192,232);
    background-color: rgba(179,192,232,.65);
    border-radius: 10px; 
    padding: 15px 40px;
    display: inline-block;
}

.regis-link, .login-link{
    color: rgb(253,125,149);
    padding: 10px 10px;
    border-radius: 10px;
       text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.regis-link:hover, .login-link:hover{
    transition: background-color 0.3s ease;
    background-color:rgb(179,192,232);
    background-color: rgba(179,192,232,.65);    
    color: white;
}

/*login/register page END*/

/*read START*/
/*save START*/
.save-container{
    background-color: rgba(0,0,0,.6);
    /*box-shadow: 0 0 3px rgba(0,0,0,0.1);*/
    display: none;
    width: 80%;
    margin: 0 auto;
}

.save-container th:hover{
    transition: background-color 0.3s ease;
    background-color: rgba(0,0,0,.2);
    transition: color 0.3s ease;
    color: rgb(179,192,232);
}

.save-load{
    width: 100%;
    border-collapse: collapse
}

.save-state{
    font-size: 400%;
    color: rgb(253,125,149);
    text-align: center;
    width: 10%;
    border: 4px solid rgb(253,125,149);
}

.load-state{
    font-size: 400%;
    color: rgb(253,125,149);
    text-align: center;
    width: 67%;
    border: 4px solid rgb(253,125,149);
}

/*save END*/

.reading-container {
    padding: 7px 5px;
    border-radius: 30px;
    margin: 2% 20% 0 20%;
    position: relative;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);   
}

.wrap-text{
    word-wrap: break-word;
    color: white;
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.title-text {
    margin: 0;
    font-size: 300%;
    font-family: 'Poiret One', cursive;
}

.upvote-text {
    color : aqua;
}

.author-text {
    color: yellow;
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.author-text:hover {
    transition: color 0.3s ease;
    color: royalblue;
}

.reading-header {
    color: aqua;
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.upvote-button {
    display: inline-block;
}

.choice-container {
    padding: 5% 0 4% 0;

}

.choice-button {
    color: white;
    font-size: 150%;
    padding: 15px 18px 15px 20px;
    border-radius: 10px;
    width : 10em;
    text-align: center;
    font-weight: 600;
    background-color: rgb(253,125,149);
    background-color: rgba(253,125,149, 0.6);
    border-color: rgb(253,125,149);
    border-width: 0;    
    outline:none;
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.choice-button:hover {
    transition: background-color 0.2s ease;
    background-color: transparent;
    background-color: rgba(253,125,149, 1);
}

.back-button{
    font-size: 200%;
    font-family: 'Poiret One', cursive;
    margin: 1% 0 1% 0;
}

.back-link{
    color: rgb(253,125,149);
    padding: 10px 10px;
    border-radius: 10px;
       text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.back-link:hover{
    transition: background-color 0.3s ease;
    background-color:rgb(179,192,232);
    background-color: rgba(179,192,232,.65);    
    color: white;
}

.option-container {
    padding: 0 10px;
    border-radius: 10px;
    font-size: 80%;
    color: rgb(253,125,149);
    font-family: 'Poiret One', cursive;
    
       text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.option-container:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(253,125,149);
    background-color: rgba(253, 125, 149, 0.7);
    color: white;
}

.comments-container {
    display: none;
    margin: 0 auto;
    width: 26%;
    background-color: rgb(0,0,0);   
    background-color: rgba(0,0,0,0.65);   
    padding: 1%;
    color: white;
}

.comment-text, .comment-info {
    font-size: 100%;
    font-weight: 400;
    text-align: left;
    margin:0;
    width: 100%;
    word-wrap: break-word;
}

.comment-info {
    color: yellow;
}

/*read END*/

/*user START*/

.author-container {
    text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-size: 200%;
    padding: 20px 10px;
    color: rgb(236,254,254);
    font-family: 'Poiret One', cursive;
}

.version-choice {
    padding: 10px 0;
}
.version-choice:hover {
    color: aqua;
}

/*user END*/

/*newread START*/

.submission-container{
    margin: 4% 0 0 0;
}

.login-main{
    font-size: 600%;
    margin: 70px 0 20px ;
}

.input-field {
    font-size: 300%;
    font-family: 'Poiret One', cursive;
    color: white;
    display: inline;
    padding: 0 0 5px 0;
}

.login-form{
    font-size:160%;
    margin: 9px;
}

/*newread END*/

/*.loginMainButton:hover{
    transition: background-color 0.3s ease;
    background-color:rgb(253,125,149);
    transition: color 0.3s ease;
    color: rgb(236,254,254);
}
*/

/*register page*/
/*a {
    color: rgb(236,254,254);
    font-family: 'Poiret One', cursive;
     text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}*/



/*
.loginButton {
     transition: background-color 0.3s ease;
    background-color: rgb(179,192,232);
    background-color: rgba(179,192,232,.65);
    border-radius: 10px; 
    padding: 15px 40px;
    display: inline-block;
}
*/



/* h1 {
    font-family: 'Poiret One', cursive;
    font-size: 600%;
    color: rgb(179,192,232);
}*/


/*p {
    font-size: 200%;
    color: white;
    font-weight: 900;
}*/

.submissiontext{
    font-family: 'Poiret One', cursive;
    font-size: 600%;
    color: rgb(179,192,232);
    margin: 70px 0 20px;
     text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    margin: 0 20px;
    font-size: 200%;
}




.submissionprompt {
    color: rgb(179,192,232);

    padding: 15px 0;
   text-align: center;
    font-weight: 900;
    font-size: 170%;
    font-family: 'Poiret One', cursive;
     text-shadow:
       2px 2px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}




.submissionMain {
    font-size: 600%;
    margin: 75px 0 0 0 ;
    padding: 50px 0;
}






.pwdiv {
    padding: 20px 0;
}

.login-regis{
    font-size: 200%;
}
.regisMainButton{
    font-size: 160%;
    padding: 15px 40px;
    background-color:rgb(253,125,149);
    border-radius: 10px;
    border: none;
    color: rgb(179,192,232);  
}




form.loginPage {
    font-size: 180%;
}

.container{
    width: 25%;
    margin: auto;
}




/*.enter:hover{
    transition: background-color 0.3s ease;
    background-color:rgb(253,125,149);
    transition: color 0.3s ease;
    color: white;
}
*/






header{
    color: white;
}


.navLogic{
    display:inline;
}

/*THIS IS EVERYTHING RELATED TO THE MODAL*/

#clickable a{
    display: block;
}

#newpost-checklist{
    color: red;
    background: black;
    
}

button:active{
    box-shadow: 1px 1px 5px #555 inset;
}

a:active{
    box-shadow: 1px 1px 5px #555 inset;
}


/*save button*/

